body {
  $base-color: #712cf9;
  $error-color: #f92c65;

  .bg-base-color {
    background-color: $base-color !important;
  }

  .bg-error-color {
    background-color: $error-color !important;
  }


  .color-nav {
    background-color: $base-color;

    a {
      color: #f0f8ff !important;
    }
  }

  .modal-add {
    .modal-add-label {
      background-color: $base-color;
      color: #f0f8ff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .form-input {
      border-radius: 0px 5px 5px 0px;
      border: 2px solid $base-color;
    }

    .error-input {
      border-radius: 0px 5px 5px 0px;
      border: 2px solid $error-color;
    }
  }

}